.btn {
    display: block;
    width: 15rem;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: whitesmoke;
    background: black;
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem 3rem 1rem 3remz;
    border: 0;
    outline: none;
    cursor: pointer;
}

.demoBtnWhite {
    padding: 1.75rem 6.75rem;
    justify-content: right;
    position:absolute;
    top: 60%;
    left:7.5%;
    border: none;
    color: rgba(0, 0, 0, 0.932);
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    mix-blend-mode: screen;
  
  }